<mat-nav-list>
    <h3 matSubheader>项目</h3>
    <mat-list-item>
        <mat-icon svgIcon="projects" matListIcon></mat-icon>
        <span matLine>项目首页</span>
        <span matLine matSubheader>查看你的所有项目</span>
    </mat-list-item>
    <h3 matSubheader>日历</h3>
    <mat-list-item>
        <mat-icon svgIcon="month" matListIcon></mat-icon>
        <span matLine>月视图</span>
        <span matLine matSubheader>查看你的所有项目</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon svgIcon="week" matListIcon></mat-icon>
        <span matLine>周视图</span>
        <span matLine matSubheader>查看你的所有项目</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon svgIcon="day" matListIcon></mat-icon>
        <span matLine>日视图</span>
        <span matLine matSubheader>查看你的所有项目</span>
    </mat-list-item>
</mat-nav-list>