<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>登录:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="您的email">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="您的密码">
            </mat-form-field>

            <button mat-raised-button type="button" color='primary'>登录</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>还没有账号?<a href="">注册</a></p>
            <p>忘记密码?<a href="">找回</a></p>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                经典佳句
            </mat-card-title>
            <mat-card-subtitle>
                我的意中人是个盖世英雄，有一天他会踩着七色云彩来娶我，我猜中了前头可我猜不着这结局。
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/image/002.jpg" alt="">
        <mat-card-content>
            My favorite person is a world hero, and one day he will marry me on the seven-color cloud. But...
        </mat-card-content>
    </mat-card>
</form>