@import '@angular/material/prebuilt-themes/purple-green.css';
html, body, app-root, mat-sidenav-container, .site {
    height: 100%;
    margin: 0;
    // font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif !important;
}

.site {
    display: flex;
    flex-direction: column;
}

// mat-card, mat-form-field, mat-card-actions {
//     font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
// }

main {
    flex: 1;
}

.full-width {
    width: 100%;
}

.flex-remaining-space {
    flex: 1 1 auto;
}
